testdata/
__pycache__/
cicat/generator/__pycache__
cicat/data/CVE
cicat/data/RecentCVE
cicat/example/0504_real
../generator/__pycache__/
*.txt
edit_INFRASTRUCTURE.ap1000.xlsx
edit_SCENARIOS.ap1000.xlsx
todolist.txt


